body {
    background-image: linear-gradient(to right, yellow, cyan);
    text-align: center;
}

h1 {
    display: inline-block;
    background-color: black;
    color: white;
    width: 150px;
    height: 60px;
    font-size: 50px;
    border-radius: 5px 5px 5px;
}

h2 {
    font-size: 50px;
}

button {
    width: 140px;
    height: 30px;
    border-radius: 5px 5px 5px;
}


/* Media Query - Tablet or smaller */
@media screen and (max-width: 100px) {
    h1 {
        width: 90px;
    }

    h2 {
        font-size: 60px;
    }

    button {
        width: 80px;
    }
}